div {
    width: 700px;
    margin: 0 auto;
    vertical-align: top;
}
section {
    vertical-align: top;
    width: 350px;
    min-height: 200px;
    display: inline-block;
    text-align: left;
}

img {
    vertical-align: top;
    padding-top: 10px;
    width: 340px;
    height: 220px;
    display: inline-block;
}